@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: roboto, arial, sans-serif;
	margin: 0;
}

p { color: #222; 
}

.wrap {
	min-height: 100vh;
	display: grid;
	grid-template-areas:
	'logo logo'
	'nav nav'
	'content content'
	'footer footer';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
}

.logo {
	grid-area: logo;
	align-self: center;
	margin: 10px;
}

.logo img {
	align-self: center;
	padding: 10px;
}

.nav {
	grid-area: nav;
	margin: 10px;
	align-self: start: ;
	justify-self: end;
}

.content {
	grid-area: content;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.content div {
	background-color: #999;
	max-width: 660px;
	padding: 5px 50px;
	margin-bottom: 10px;
	color: white;
	display: inline-block;
}

.content p {

}

.footer {
	grid-area: footer;
	align-self: end;
	margin: 10px;

}

.footer p {
	text-align: center;
}

.nav ul {
	list-style-type: none;
	margin: 10px;
	padding: 0;
	display:block;
}

.nav ul {
		display:block;
}

.nav ul li {
	text-align: center;
	margin: 0 0 5px 0;
}

.nav ul li a {
		text-decoration: none;
		color: black;
		color: black;
		font-size: 1.2em;
}

.nav ul li a:hover{
		color: grey;
}

.nav ul li a:active{
		color: yellow;
		text-decoration: underline;
}

@media screen and (min-width: 360px) {
	.nav ul {
		display:flex;
	}
		.logo img {
	align-self: center;
	}
}

@media screen and (min-width: 560px) {
	.wrap {
	display: grid;
	grid-template-areas:
	'logo nav'
	'content content'
	'content content'
	'footer footer';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto 1fr 200px;
	grid-gap: 10px;
	}

		.logo img {
	align-self: center;
	}

}

@media screen and (min-width: 760px) {
		.wrap {
	display: grid;
	grid-template-areas:
	'logo nav'
	'content content'
	'content content'
	'footer footer';
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto auto 1fr 200px;
	grid-gap: 10px;
	}
}

